$gradient: linear-gradient(to bottom right, #9f5ab8 0%, #1e99b4 50%) bottom
    right / 50% 50% no-repeat,
  linear-gradient(to bottom left, #9f5ab8 0%, #1e99b4 50%) bottom left / 50% 50%
    no-repeat,
  linear-gradient(to top left, #9f5ab8 0%, #1e99b4 50%) top left / 50% 50%
    no-repeat,
  linear-gradient(to top right, #9f5ab8 0%, #1e99b4 50%) top right / 50% 50%
    no-repeat;
$blue: #dbe6ed;
$brandBlue: #4288b5;
$blueSecond: #072e53;
$purple: #f4dcff;
$brandPurple: #ba90ce;
$red: #f2e1e0;
$redSecond: #9b1c13;
$green: #d1e7dd;
$greenSecond: #0f5132;
$gold: #fff3cd;
$goldSecond: #664d03;
$light: #ffffff;
$gray: #f6f6fa;
$graySecond: #e9e9e9;
$grayThird: #989898;
$grayFourth: #323232;
$dark: #0e3046;
$darkSecond: #202637;
$darkThird: #001223;

$h1: 36px;
$h2: 24px;
$h3: 20px;
$h4: 20px;
$h5: 18px;
$h6: 16px;
$caption: 14px;
$button: 20px;
$buttonSmall: 14px;
$paragraph: 18px;
$link: 14px;

:root {
  --gradient: #{$gradient};
  --blue: #{$blue};
  --brandBlue: #{$brandBlue};
  --blueSecond: #{$blueSecond};
  --purple: #{$purple};
  --brandPurple: #{$brandPurple};
  --red: #{$red};
  --redSecond: #{$redSecond};
  --green: #{$green};
  --greenSecond: #{$greenSecond};
  --gold: #{$gold};
  --goldSecond: #{$goldSecond};
  --light: #{$light};
  --gray: #{$gray};
  --graySecond: #{$graySecond};
  --grayThird: #{$grayThird};
  --grayFourth: #{$grayFourth};
  --dark: #{$dark};
  --darkSecond: #{$darkSecond};
  --darkThird: #{$darkThird};

  --h1: #{$h1};
  --h2: #{$h2};
  --h3: #{$h3};
  --h4: #{$h4};
  --h5: #{$h5};
  --h6: #{$h6};
  --caption: #{$caption};
  --button: #{$button};
  --buttonSmall: #{$buttonSmall};
  --paragraph: #{$paragraph};
  --link: #{$link};
}
